@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure DevOps</h1>
    <h3>Pipelines: CI-CD</h3>
    <h3>(конвееры развертывания и обновления)</h3>
    <hr/>
    <img src="~/img/image.png" width="500" height="400"/>
</div>
